{
    "parser": "@typescript-eslint/parser",
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier",
      "prettier/@typescript-eslint"
    ],
    "plugins": ["@typescript-eslint"],
    
    "rules": {
      "@typescript-eslint/consistent-type-definitions": ["warn", "type"],
      "@typescript-eslint/explicit-function-return-type": "off",
      "@typescript-eslint/explicit-member-accessibility": "off",
      "@typescript-eslint/no-angle-bracket-type-assertion": "off",
      "@typescript-eslint/no-non-null-assertion": "off",
      "@typescript-eslint/no-unused-vars": [
        "error",
        {
          "argsIgnorePattern": "^_",
          "ignoreRestSiblings": true
        }
      ],
      "@typescript-eslint/no-use-before-define": [
        "warn",
        {
          "functions": false,
          "classes": false,
          "variables": true
        }
      ],
 
      "no-case-declarations": "warn",
      "no-console": "warn",
      "no-debugger": "warn",
      "no-else-return": "warn",
      "no-param-reassign": "warn",
      "no-undef": "off",
      "no-unused-vars": "off",
      "no-var": "warn",
      "object-shorthand": "warn",
      "padding-line-between-statements": [
        "warn",
        {
          "blankLine": "always",
          "prev": "*",
          "next": "class"
        },
        {
          "blankLine": "always",
          "prev": "*",
          "next": "for"
        },
        {
          "blankLine": "always",
          "prev": "*",
          "next": "function"
        },
        {
          "blankLine": "always",
          "prev": "*",
          "next": "if"
        },
        {
          "blankLine": "always",
          "prev": "*",
          "next": "return"
        },
        {
          "blankLine": "always",
          "prev": "*",
          "next": "switch"
        },
        {
          "blankLine": "always",
          "prev": "*",
          "next": "try"
        },
        {
          "blankLine": "always",
          "prev": "*",
          "next": "while"
        },
        {
          "blankLine": "always",
          "prev": "block-like",
          "next": ["let", "const"]
        }
      ],
      "prefer-const": "warn",
      "semi" : "warn",
      "object-curly-spacing" : ["error", "always"],
      "yoda": "warn"
    }
  }